@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Prata&family=Space+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-primary: 220, 177, 255;
    --text-primary: 220, 177, 255;
  }

  .aqua {
    --bg-primary: 80, 219, 180;
    --text-primary: 80, 219, 180;
  }

  .red {
    --bg-primary: 255, 102, 102;
    --text-primary: 255, 102, 102;
  }

  .lime {
    --bg-primary: 211, 254, 87;
    --text-primary: 211, 254, 87;
  }

  .aqua {
    --bg-primary: 80, 219, 180;
    --text-primary: 80, 219, 180;
  }
}

body {
  @apply bg-zinc-100;
}

html {
  @apply scroll-smooth;
}
